.row
  .span8.offset2
    %h1
      Cheese Board
      %small
        Cheddar on Status Board

.row
  .span8.offset2
    %p
      Simple web app that allows you to show Cheddar task lists
      on Panic's new Status Board iPad app.

    %p
      %span.label.label-important WARNING!
      Any list you choose to activate will become public to anyone with the
      URL. This is because Status Board will only work with public URLs.
    %p
      Alternatively, you can download and run Cheese Board locally to limit
      exposure to your local network, but this means the table will only render
      while on the same network.

.row
  .span8.offset2
    %p
      If, and only if, you are alright with the above implications, feel free
      to sign in below and try it out. Status Board refreshes every minute so
      you won't have to worry about the list becoming outdated.
.row
  .span8.offset2.text-center
    = link_to "Sign in with Cheddar", user_omniauth_authorize_path(:cheddar), {class: 'btn btn-primary'}